body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    overflow-x: hidden;
}

.main {
    background-color: rgb(39 39 42);
    width: 100vw;
    height: 100vh;
    padding-top: 12rem;
    overflow: auto;
    
}

.title {
    color: whitesmoke;
    font-size: 3.5rem;
    margin-top: 0px;
    margin-bottom: 5rem;
    text-align: center;
}

.main__table {
    margin-left: auto;
    margin-right: auto;
}

table,td,th {
    border-collapse: collapse;
}

td,th {
    margin: 1rem;
    text-align: center;
    padding: 2rem;
}

th {
    background-color: rgb(234 179 8);
}

.back {
    margin-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.back > a {
    background-color: rgb(234 179 8);
    text-decoration: none;
    padding: 30px 40px;
    color: whitesmoke;
    border-radius: 1rem;
}

.back_a:hover {
    opacity: 0.5;
}

.back_a:active {
    opacity: 0.5;
    text-decoration: underline;
}

.legend {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    margin: 2rem;
    color: rgb(234 179 8);
}

.hlegend {
    margin-left: 2rem;
    margin-top: 4rem;
    font-size: larger;
    color: whitesmoke;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: rgb(234 179 8);
    border-radius: 1rem;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    padding: 30px 40px;
     
  }

  input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.5;
  }